<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Jäätelöannokset</title>
        <meta charset="utf-8" />
    </head>

    <body>

        <h2>Jäätelöannokset</h2>

        <ul>
            <li><a href="annokset/2/">Tropiikki</a></li>
            <li><a href="annokset/1/">Suklaaunelma</a></li>
        </ul>
        <ul>
            <li>
                <a href="annokset/">Luo uusi annos </a>
            </li>
            <li th:each="annos: ${annokset}">
                <span th:text="${annos.nimi}">Annokset</span>
            </li>
            
            <li>
                <a href="ainekset/"> Tarkastele ja lisää aineksia</a>
            </li>
            <li>
                <a href="tilastot/"> Tarkastele tilastoja</a>
            </li>
        </ul>
        
    </body>
</html>