<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Suklaaunelma</title>
        <meta charset="UTF-8" />
        
    </head>
    <body>
        <h2>Suklaaunelma</h2>

        <ul>
            <li>Suklaajäätelö, 3 palloa</li>
            <li>Suklaakeksi, 2 kpl</li>
            <li>Suklaakastike, 1 rkl</li>
            <li>Kermavaahto, 2 rkl</li>            
        </ul>

    <ul>
        <li>
            <a href="../../">Jäätelöannoksiin</a>
        </li>
    </ul>
    </body>
</html>